.react-scrollable-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 490px;
    width: 490px;
    overflow-y: scroll;
    border: #ddd solid 1px;
}

.react-scrollable-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    background-color: #f2f2f2;
    border-bottom: #ddd solid 1px;
    pointer-events: none;
}

.main-container {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr;
    column-gap: 12px;

    align-items: center;
}

.report-container {
    /* grid-column-start: 3; */
    /* grid-column-end: span 3; */
    height: 80vh;
    width: 100%;
    margin-left: 12vh;
    /* align-items: center; */
}

.report-header {
    font-size: 16pt;
}
.map-container {
    /* grid-column: 7 / span 4; */
    height: 70vh;
    width: 88%;
    margin-right: 12;
    /* align-items: center; */
}

.windTurbine {
    width: 50;
    height: 50;
}
.hover {
    background-color: #0078d4;
}
